.roww{
height: 400px;
}
.fon{
	background-image: img/fon.jpg;
}
.red{
background-color: SpringGreen ;
}
.form-control{
width: 100%;
}
.form-inline{
width: 90%
}
.chat{
background-image: img/fonchat.png;

height: 400px;
overflow-x: auto;
}
.people{
background-image: img/fonchat.png;
height: 400px;
overflow-x: auto;
}
.input-text{
height: 34px;
width: 100%;
}
.otst{
	margin:0;
	padding:0;
	outline:none;
	}
.ml{
	margin-left: 15px;
}
.mr{
	margin-right: 15px;
}
.mt{
	margin-top: 175px;
}
.mt1{
	margin-top: 15px;
}